/* .event{
    display: flex;
    margin: 10px 5px;
    border-radius: 10px;
    padding: 5px 10px;
    padding-left: 0px;
}
.event > img {
    height: 85px;
    width: 85px;
    border-radius: 10%;
    margin-right: 7px;
}
.event__right{
    margin-left: 5px;
}
.event__right > time {
    color: red;
} */
